.title {
    color: #009688;
    font-weight: bold;
    animation: fade 2s;
}

.subtitle {
    color: #00796B;
}

.info {
    font-size: 18px;
    animation: fade 2.2s;
}

.footer {
    background: #009688;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

/* Animation */
@keyframes fade {
    from {opacity: 0;}
    to {opacity: 1;}
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

