.title {
    color: #009688;
    font-weight: bold;
}

.g {
    border: 4px solid #009688;
    border-radius: 10px;
    transition: 0.3s;
}

.g:hover {
    transform: scale(1.05);
}

.footer {
    background: #009688;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
