/* SLIDER IMAGE FIX */
.slider-img {
    height: 70vh;
    object-fit: cover;
}
.nav-item  a{
    color: white;
}

/* Animations */
.fade {
    animation: fadeIn 2s ease;
}
.fade2 {
    animation: fadeIn 3s ease;
}

@keyframes fadeIn {
    from {opacity:0; transform: translateY(20px);}
    to {opacity:1; transform: translateY(0);}
}

/* WhatsApp Floating Button */
.whatsapp {
    position: fixed;
    bottom: 25px;
    right: 25px;
    z-index: 999;
}

/* Footer */
.footer {
    background: #009688;
    padding: 20px;
    color: white;
    text-align: center;
    margin-top: 40px;
}

/* Mobile Fixes */
@media (max-width: 768px) {
    .slider-img {
        height: 40vh;
    }
}
/* Banner */
.banner {
    background: #009688;
    padding: 120px 20px;
}

.navMenu {

color: #009688;

}
.footer{

    background-color: rgb(21, 15, 15);

}
.logo {
border: 1px solid #009688;
border-radius: 50%;
height: 100px;
width: 120px;
}
/* carousual */
.carousel {
    overflow: hidden;
    width: 100%;
    height: 700px;
    position: relative;
}

/* Carousel Images */
.carousel {
    overflow: hidden;
    width: 100%;
    height: 700px;
    position: relative;
}

/* Carousel Images */
.carousel-images {
    display: flex;
    width: 200%; /* 2 images */
    animation: slide 8s infinite;
}

.carousel-images img {
    width: 100%;
    height: 1000px;
    padding-bottom:70px;
}